# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log

.idea

# ignore
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.npmignore
babel.config.js
gulpfile.js
src
test
tests
tsconfig.json

.DS_Store